* {
    font-family: 'Grechen Fuemen', cursive;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(240,255,146,1) 91%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 900px;
    width: 600px;
    box-shadow:  0 0.4em 1.2em;
    background-color: rgb(249, 249, 249);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.main:hover {
    transform: scale(1.06)
}

.banner {
    border-radius: 30px;
    height: 36%;
    width: 100%;
    background-color: #f7a800;
    background-size: 56px 56px;
    background-image:
    linear-gradient(
        135deg,
        transparent 55%,
        #f7a800 55%
    ),
     radial-gradient(
        transparent 6px,
        #ffffff 6px,
        #ffffff 10px,
        transparent 10px,
        transparent 15px,
        #ffffff 15px,
        #ffffff 19px,
        transparent 19px,
        transparent 24px,
        #ffffff 24px,
        #ffffff 28px,
        transparent 28px
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    box-shadow:  0 0.4em 1.2em;
    position: relative;
    z-index: 1;
    animation: shake 10s;
    animation-iteration-count: infinite;
}

.info-block {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info p {
    font-size: 25px;
    letter-spacing: .2em;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
}

a {
    text-decoration: none;
    color: #565656;
    transition: all 0.3s;
    font-size: 3em;
    margin-right: 1.2em;
    animation: shake 7s;
    animation-iteration-count: infinite;
}
 
a:last-child {
    margin: 0;
}
 
.insta:hover {
    color:rgb(255, 70, 101);
    transform: scale(2,2);
    animation: none;
}
 
.git:hover {
    color:rgb(0, 0, 0);
    transform: scale(2,2);
    animation: none;
}
 
.linkedin:hover {
    color:rgba(4, 0, 253, 0.842);
    transform: scale(2,2);
    animation: none;
}

h2 {
    letter-spacing: .2em;
}

.description {
    width: 100%;
}

.description ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 20px;
}

.description li {
    list-style-type: none;
    font-size: 1.2em;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

